<div class="container">
<div class="card-columns">
<% if @posts.count > 0 %>
  <% @posts.each do |post| %>
    <div class="card">  
    <div class="card-header">
    <%=  post.title %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= truncate post.mealtype, length: 50 %></p>
      <a href="#" class="card-link"><%= link_to 'View Recipe',  show_post_path(id: post.id) %></a>
    </div>
    </div>
   <% end %>
   </div></div>
<% else %>
  <h2>Darn, looks like we don’t have anything...</h2>
<% end %>
</div>